.charts {
    width: 96%;
    margin: 0 auto;
    padding: 20px 0;
}

.charts h1{
    color: teal;
    font-size: 80px;
    letter-spacing: 2px;
    text-transform: uppercase
}

.charts h2 {
    color: rgb(6, 169, 169);
    margin: 20px 0;
}

.charts .text {
    margin: 10px 0;
    font-size: 22px;
    color: whitesmoke;
}

.charts .text b {
    color: teal;
}

.charts .text p {
    margin: 15px 0;
}