.modalBg {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.modalContent{
    width: 50%;
    height: 75%;
    background: rgb(241,241,241);
    background: linear-gradient(90deg, rgba(241,241,241,1) 33%, rgba(89,110,121,1) 100%);
    padding: 30px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    animation-name: modal;
    animation-duration: .5s;
    overflow-y: scroll;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  border-radius: 0 12px 12px 0;
	width: 12px;
	background-color: #555;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.total {
    font-size: 32px;
    font-weight: bold;
    color: #97918a;
}

.cartEmpty {
  text-align: center;
  font-weight: bold;
  font-size: 42px;
  color: #d8c4aa;
}

.carts {
    width: 100%;
}


@keyframes modal {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
  
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }