.main {
    background: url('../../utils/images/bgiLogin.png'), radial-gradient(circle, rgba(82,189,229,1) 0%, rgba(0,171,220,1) 100%);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
